body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0;
	padding: 0;
	background: #2c2c2c;
}
 
.nav ul {
	list-style: none;
	background-color: #990000;
	text-align: center;
	padding: 0;
	margin: 0;
}
.nav li {
	line-height: 80px;
	height: 80px;
	border-bottom: 1px solid #000000;
}
 
.nav a {
	text-decoration: none;
	color: #cecece;
	display: block;
	transition: .5s background-color;
}
 
.nav a:hover {
	background-color: #2c2c2c;
}
 
.nav a.active {
	background-color: #2c2c2c;
	color: #cccccc;
	cursor: default;
}
 
@media screen and (min-width: 600px) {
	.nav li {
		width: 150px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
  }
    .nav li {
		display: inline-block;
		margin-right: -4px;
  }
}


h3{
	text-align: center;
	color: #5d5d5d;
}

.homeHeader{
	text-align: center;
	font-size: 4em;
	color: #cccccc;
}

.jourEntry{
	text-align: center;
}
.jourContent{
	background-color: #2c2c2c;
	color: #cccccc;
	border-color: #2c2c2c
}
